IBBAV/Web References/WsErrores/WsErrores.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="BDI_ErrorGetByCodigo_Nemo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codError" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sistema" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BDI_ErrorGetByCodigo_NemoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BDI_ErrorGetByCodigo_NemoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="BDI_ErrorGetByCodigo_NemoSoapIn">
    <wsdl:part name="parameters" element="tns:BDI_ErrorGetByCodigo_Nemo" />
  </wsdl:message>
  <wsdl:message name="BDI_ErrorGetByCodigo_NemoSoapOut">
    <wsdl:part name="parameters" element="tns:BDI_ErrorGetByCodigo_NemoResponse" />
  </wsdl:message>
  <wsdl:portType name="WsErroresSoap">
    <wsdl:operation name="BDI_ErrorGetByCodigo_Nemo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retorna Error por Sistema y codigo de error</wsdl:documentation>
      <wsdl:input message="tns:BDI_ErrorGetByCodigo_NemoSoapIn" />
      <wsdl:output message="tns:BDI_ErrorGetByCodigo_NemoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WsErroresSoap" type="tns:WsErroresSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BDI_ErrorGetByCodigo_Nemo">
      <soap:operation soapAction="http://tempuri.org/BDI_ErrorGetByCodigo_Nemo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WsErroresSoap12" type="tns:WsErroresSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BDI_ErrorGetByCodigo_Nemo">
      <soap12:operation soapAction="http://tempuri.org/BDI_ErrorGetByCodigo_Nemo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsErrores">
    <wsdl:port name="WsErroresSoap" binding="tns:WsErroresSoap">
      <soap:address location="http://172.19.52.230:8082/WsErrores.asmx" />
    </wsdl:port>
    <wsdl:port name="WsErroresSoap12" binding="tns:WsErroresSoap12">
      <soap12:address location="http://172.19.52.230:8082/WsErrores.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>